# System language
lang en_US.UTF-8

keyboard us
timezone America/Vancouver
rootpw $1$n8f9eJRb$Y78lzDgFEamdkagPChzUF. --iscrypted
#platform x86, AMD64, or Intel EM64T
reboot
text
nfs --server=10.1.1.10 --dir=/volume1/VM/CentOS-7-x86_64-Minimal-1908.iso
bootloader --location=mbr --append="rhgb quiet crashkernel=auto"
zerombr
clearpart --all --initlabel
autopart
auth --passalgo=sha512 --useshadow
selinux --enforcing
firewall --enabled
skipx
firstboot --disable
%packages
@base
%end

